:root {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

.btn-outline-orange {
    border: 1px solid #FF441F;
    color: #FF441F;
}

.btn-outline-orange:hover {
    background-color: #FF441F;
}

/* Desktop */
@media (min-width: 1025px)  {
    .fixed-top {
        animation: fadeIn 0.5s;
    }
    
    .nav-link::after {
        content: "";
        display: none;
        border-bottom: 2px solid #fff;
        width: 40%;
        padding-top: 5px;
        margin-bottom: -7px;
    }
    
    .nav-link:hover::after {
        display: block;
        cursor: pointer;
        animation-name: berjalan;
        animation-duration: 0.5s;
    }
    
    .nav-link.active::after {
        display: block;
    }
    
    .home {
        width: 100%;
        height: 100vh;
    }

    .home .container {
        margin-top: -50px;
    }
    
    .home .container h1 {
        font-size: 55pt;
        font-weight: bolder;
    }
    
    .home .container span {
        font-size: 20pt;
        color: darkgray;
    }
    
    .photo {
        background: url('../images/photo.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        width: 250px;
        height: 250px;
        outline: 2px solid #eee;
    }

    .about .container h1 {
        font-weight: 700;
    }
    
    .about .container p {
        text-align: justify;
        /* text-align: center; */
        margin-bottom: 30px;
        margin-top: 20px;
    }

    
    .btn-download {
        background-color: black;
        color: #fff;
    }
    
    .btn-download:hover {
        cursor: pointer;
        background-color: white;
        color: black;
        box-shadow: 5px 7px 10px #eee;
    }

    .projects img {
        width: 100%;
    }
    
    @keyframes berjalan {
        from {
            width: 0;
        } to {
            width: 40%;
        }
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        } to {
            opacity: 1;
        }
    }
}

/* Smarthphone */
@media (min-width: 360px) and (max-width: 767px)  {

    .navbar {
        position: relative !important;
        padding: 20px !important;
    }

    .navbar-toggler{
        display: none !important;
    }

    .navbar-brand {
        font-size: 15pt;
    }
    .row {
        margin: 0px 10px;
    }

    .contact .container {
        padding: 0px 30px !important;
    }
    
    .home {
        width: 100%;
        height: 100vh;
    }
    
    .wrap-profession {
        position: absolute;
        width: 90%;
        height: 100%;
    }

    .home .container {
        top: -80px;
        position: relative;
    }

    .home .container h3 {
        font-size: 20px;
    }
    
    .home .container h1 {
        font-size: 45pt;
        font-weight: bolder;
    }
    
    .home .container span {
        font-size: 20pt;
        color: darkgray;
    }
    
    .photo {
        background: url('../images/photo.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        width: 250px;
        height: 250px;
        outline: 2px solid #eee;
    }

    .about .container h1 {
        text-align: center;
        font-weight: 700;
        margin-top: 30px;
    }
    
    .about .container p {
        text-align: justify;
        /* text-align: center; */
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .education .row .col, .experience .row .col {
        flex: none;
    }

    .skills .d-flex {
        flex-direction: column;
    }

    .projects .row .col-4 {
        width: 100%;
    }
    
    .btn-download {
        background-color: black;
        color: #fff;
    }
    
    .btn-download:hover {
        cursor: pointer;
        background-color: white;
        color: black;
        box-shadow: 5px 7px 10px #eee;
    }

    .projects img {
        width: 100%;
    }

    .projects h5 {
        font-size: 16px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  
    .navbar {
        position: relative !important;
        padding: 50px !important;
    }

    .navbar-toggler{
        display: none !important;
    }

    .navbar-brand {
        font-size: 25pt;
    }
    
    .home {
        width: 100%;
        height: 100vh;
    }

    .home .container {
        top: -100px;
        position: relative;
    }
    
    .home .container h1 {
        font-size: 55pt;
        font-weight: bolder;
    }
    
    .home .container span {
        font-size: 20pt;
        color: darkgray;
    }

    .about .container h1 {
        font-weight: 700;
    }
    
    .about .container p {
        text-align: justify;
        /* text-align: center; */
        margin-bottom: 30px;
        margin-top: 20px;
    }
    
    .photo {
        background: url('../images/photo.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        width: 250px;
        height: 250px;
        outline: 2px solid #eee;
    }

    .education .row .col, .experience .row .col {
        flex: none;
    }

    .projects .row .col-4 {
        width: 50%;
    }

    .projects img {
        width: 100%;
    }
    
    .btn-download {
        background-color: black;
        color: #fff;
    }
    
    .btn-download:hover {
        cursor: pointer;
        background-color: white;
        color: black;
        box-shadow: 5px 7px 10px #eee;
    }
    
  }
